@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary: #4777f5;
  --secondary: #2125b1;
  --active: #2126b193;
  --light: #f7faff;
  --dark: #1d1d27;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #888;
  background-color: #f3f6ff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.content-wrapper {
  width: 92%;
  margin-inline: auto;
}

.main-wrapper {
  background-color: white;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

a {
  all: unset; /* Resets everything */
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: var(--primary) !important;
  border-radius: 3px !important;
}
